* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  color: rgb(231,216,186);
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
}

.container {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

}

/*Cursive Mild Font
.yellowtail-regular {
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
}*/

/*Cursive Sharper Font */
/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 400 to 700 */

/*.caveat-big {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.caveat-medium {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}*/

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0;
}

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* MainTitle left, ContentMenu right */
  align-items: center; /* Vertically align if needed */
  gap: 10rem;
  width: 100%;
}

.btn {
  display: inline-block;
  color: #fff;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}


/*Vocabulary Cards*/
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 150px;
  perspective: 1000px;
}

.card h1 {
  font-size: 28px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  backdrop-filter: blur(3px);
}

.card-back {
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}


@media (max-width: 880px){
  html, body {
  }

  body {
    background: url("img/dark-books.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  
  }
}


@media (max-width: 1280px){
  html, body {
  }

  body {
    background: url("img/books-1280.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  
  }
}

@media (max-width: 1980px){
  html, body {
  }

  body {
    background:  url("img/books-1280.png");    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  
  }

  .voc-search-title {
    font-size: 40px;
  }
}


@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .voc-search-title {
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }

  .voc-search-title {
    font-size: 24px;
  }
}
