@import '../../scss/config';
 
.content-menu-container {
    transform: translateY(-2rem);

    .content-menu-left, .content-menu-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .hero-card {
        height: 12rem;
        width: 11rem;
        padding: 1rem;
        background-color: rgba($light-beige, 0.8);
        margin: 0.5rem;
        border-radius: 5px;
        color: $dark-grey-brown;

        h3 {
            text-align: center;
            margin: 0.5rem 0;
        }

        p{
            font-weight: 500;
            text-align: center;
        }
    }
    .content-menu-left {

    }
    .content-menu-right {
    }
}