@import '../../scss/config';

// Color Variables
$primary-brown: #2a2826;
$primary-brown-light: #5d4b42;
$text-dark: #1a1818;
$bg-light: #887971;
$bg-dark: rgb(87, 75, 68);
 
.header {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 3.7rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin: 0;

    .menu {
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
    }

    .buttons {
        display: flex;
        gap: 3rem;
        margin-top: 0;
    }

    .menu-btn {
        text-align: center;
        color: $light-beige;
        text-decoration: none;
        font-size: 1.2rem;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $light_grey;
            scale: 1.15;

        }
    }
}

// Responsive Styles
@media (min-width: 640px) {
    .header {
        flex-wrap: nowrap;
        align-items: center;

        

        .buttons {
            width: auto;
            margin-top: 0;

        }

        .menu-btn {
            flex: none;
        }
    }
}